<%# CSS・・・assets/stylesheets/shared/footer.css %>
<footer class='page-footer'>
  <div class='info-footer-wrap'>
    <div class='info-footer'>
      <h2 class='info-footer-title'>footer(追加予定)</h2>
      <p class='info-footer-text'>アプリケーション制作者: marcy</p>
    </div>
  </div>
</footer>